[*.vb]

# BC42104: Variable is used before it has been assigned a value
dotnet_diagnostic.BC42104.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
